.home {
  padding: 2rem 2rem;
  margin-left: 200px;
  background: #081b29;
}
.home h1 {
  font-weight: 900;
  font-size: 50px;
  /*   line-height: 60px; */
  background: -webkit-linear-gradient(#dad8d8, #b4b2b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home > p {
  margin-top: 20px;
}
.home a {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.homeBtn a:first-child {
  background: var(--primary-color);
  box-shadow: 0 0 10px #4891ff;
}
.homeBtn a:first-child:hover {
  box-shadow: 0 0 20px #4891ff;
}
.homeBtn a:first-child:active {
  box-shadow: 0 0 20px 5px #4891ff;
}
.homeBtn a:last-child {
  background: #333334;
  box-shadow: 0 0 10px #333334;
  border-radius: 10px;
  opacity: 0.7;
}
.homeBtn a:last-child:hover {
  box-shadow: 0 0 20px #333334;
  opacity: 1;
}
.homeBtn a:last-child:active {
  box-shadow: 0 0 20px 5px #333334;
  opacity: 1;
}

@media (max-width: 670px) {
  .home {
    width: 100%;
    padding: 2rem 3rem;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home h1 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  .home > p {
    margin-top: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.573);
  }

  .homeBtn {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .social {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
    align-items: center;
  }
  .social a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
  }
  .social a:hover {
    color: var(--primary-color);
  }

  /*  .home-blur {
    filter: blur(5px);
  } */
  .card_container {
    width: 100%;
    display: flex;

    flex-direction: column;
    margin-top: 50px;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .card_container h2 {
    font-size: 20px;
  }
  .card_container p {
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff98;
  }
  .card2_container {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    column-gap: 20px;
  }
  .card1 {
    width: 100%;
    height: 150px;
    padding: 1rem 1rem;
    border-radius: 15px;
    background: linear-gradient(#03011b, #04001c);
    box-shadow: 2px 2px 2px var(--primary-color);
  }
  .card h2 {
    font-weight: normal;
  }
  .card1 p {
    margin-top: 5px;
    color: #ffffff98;
  }
  .card2 {
    padding: 1rem 1rem;
    background: linear-gradient(#03011b, #04001c);
    box-shadow: 2px 2px var(--primary-color);
    border-radius: 15px;
    flex: 2;
  }
  .card3 {
    padding: 1rem 1rem;
    background: linear-gradient(#03011b, #04001c);
    box-shadow: 2px 2px var(--primary-color);
    border-radius: 15px;
    flex: 1;
  }

  .material-symbols-outlined {
    font-size: 30px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #010328, #000000);

    border-radius: 50%;
    padding: 5px 5px;
  }
  .card4 {
    width: 100%;

    padding: 1rem 1rem;
    background: linear-gradient(#03011b, #04001c);
    box-shadow: 2px 2px var(--primary-color);
    border-radius: 15px;
  }
  .footer {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: #ffffff;
    background-image: linear-gradient(rgb(16, 3, 59), rgba(3, 1, 44));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .footer .section1 {
    text-align: center;
  }
  .footer .section1 h4 {
    margin-bottom: 10px;
  }
  .footer .section2 {
    margin-top: 30px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    column-gap: 20px;
  }
  .footer .section2 p {
    margin-top: 10px;
  }
  .home .subscribe {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    padding: 3rem 3rem;
    height: auto;
    border-radius: 20px;
    background: #000;
  }
  .home .subscribe h1 {
    line-height: 30px;
    margin-bottom: 20px;
  }
  .home .subscribe p {
    color: #ffffff95;
  }
  .home .subscribe button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    background: var(--primary-color);
    box-shadow: 0 0 10px #4891ff;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Poppins";
    width: 100%;
  }
  .home .subscribe input {
    margin-bottom: 20px;
    height: 40px;
    color: #000000;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    background: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
  }
}
